@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <NavLink class="nav-link">
                @DisplayName
            </NavLink>
        </li>
        <li class="nav-item" @onclick="ToggleNavMenu">
            <NavLink class="nav-link" @onclick="() => OnLogoutClick()" href="/">
                로그아웃
            </NavLink>
        </li>
    </Authorized>
     <NotAuthorized>
        <li class="nav-item" @onclick="ToggleNavMenu">
            <NavLink class="nav-link" @onclick="() => OnLoginClick()" href="/">
                로그인
            </NavLink>
        </li>
        <li class="nav-item" @onclick="ToggleNavMenu">
            <NavLink class="nav-link" @onclick="() => OnJoinClick()" href="/">
                가입
            </NavLink>
        </li>
        <li class="nav-item" @onclick="ToggleNavMenu">
            <NavLink class="nav-link" @onclick="() => OnPasswordInitClick()" href="/">
                비밀번호 초기화
            </NavLink>
        </li>
     </NotAuthorized>
</AuthorizeView>